<!DOCTYPE html>
<html class="no-js">
<head>
  <title>MERN: Ergmahgerd Isomorphic JavaScript</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/importer.less" />
  <script src="/react/build/bundle.js"></script>
</head>
<body>
<div class="wrapper">
  <%- markup %>
</div>
</body>
</html>
